BUILD_OS="darwin,linux,windows"
BUILD_ARCH="amd64,arm64,arm"
SKIP_BUILD="windows-arm,windows-arm64"
GOLANG_PACKAGE="example"
GOLANG_VERSION_PKG="internal/version"
GOLANG_BINARY_NAME="example"
GOLANG_LDFLAGS="-w -s -extldflags '-static' -X '${GOLANG_PACKAGE}/${GOLANG_VERSION_PKG}.version=${VERSION}' -X '${GOLANG_PACKAGE}/${GOLANG_VERSION_PKG}.gitCommit=${GIT_COMMIT}'"
RELEASE_EXTRA_FILES="LICENSE,README.md"