BUILD_TARGETS="darwin/amd64,darwin/arm64,linux/amd64,linux/arm64,windows/amd64"
GOLANG_PACKAGE="example"
GOLANG_VERSION_PKG="internal/version"
GOLANG_BINARY_NAME="hello"
GOLANG_LDFLAGS="-w -s -extldflags '-static' -X '${GOLANG_PACKAGE}/${GOLANG_VERSION_PKG}.version=${VERSION}' -X '${GOLANG_PACKAGE}/${GOLANG_VERSION_PKG}.gitCommit=${GIT_COMMIT}'"
RELEASE_EXTRA_FILES="LICENSE,README.md"